<div class="container dash">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4 border border-dark single1 text-center text-danger">
          <a routerLink="/file_upload"><strong class="txt-clr">Upload Excel File</strong></a>
        </div>   
      <div class="col-md-4 border border-dark single1 text-center text-danger">
        <a routerLink="/company-list"><strong class="txt-clr">View/Edit Companies</strong></a>
      </div>
      <div class="col-md-2"></div>
    </div>
</div>
  
  