<div class="container dash">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 border border-dark single1 text-center">
      <a routerLink="/classification"><strong class="txt_clr">Classification</strong></a>
    </div>    
    <div class="col-md-4 border border-dark single1 text-center">
      <a routerLink=""><strong class="txt_clr">Recruiter Evaluation</strong></a>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 border border-dark single1 text-center ">
      <a routerLink=""><strong class="txt_clr">SAP Partners</strong></a>
    </div>    
    <div class="col-md-4 border border-dark single1 text-center">
      <a routerLink=""><strong class="txt_clr">SAP Customers</strong></a>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

